<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.labproject.restaurant.*"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/restaurant?serverTimezone=Europe/Moscow"/>
        <property name="username" value="root"/>
        <property name="password" value="password"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="simpleJdbcInsert" class="org.springframework.jdbc.core.simple.SimpleJdbcInsert">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="orderDishDao" class="com.labproject.restaurant.dao.impl.OrderDishDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dishDao" class="com.labproject.restaurant.dao.impl.DishDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="roleDao" class="com.labproject.restaurant.dao.impl.RoleDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="userDao" class="com.labproject.restaurant.dao.impl.UserDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="orderStatusDao" class="com.labproject.restaurant.dao.impl.OrderStatusDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="orderDao" class="com.labproject.restaurant.dao.impl.OrderDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="orderService" class="com.labproject.restaurant.services.impl.OrderServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="orderDao" ref="orderDao"/>
        <property name="orderStatusDao" ref="orderStatusDao"/>
    </bean>

    <bean id="billDao" class="com.labproject.restaurant.dao.impl.BillDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userService" class="com.labproject.restaurant.services.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="roleService" class="com.labproject.restaurant.services.impl.RoleServiceImpl">
        <property name="roleDao" ref="roleDao"/>
    </bean>

    <bean id="dishService" class="com.labproject.restaurant.services.impl.DishServiceImpl">
        <property name="dishDao" ref="dishDao"/>
    </bean>

    <bean id="accountService" class="com.labproject.restaurant.services.impl.AccountServiceImpl">
        <property name="userService" ref="userService"/>
        <property name="roleService" ref="roleService"/>
    </bean>
</beans>
